---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="Colors"
  description="Exploring the palette of emotions through color."
  heroImage=""
>
  <p>
    Colors page content coming soon...
  </p>
</Layout>
