---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from 'astro:content';
import ArtGallery from '../components/ArtGallery.astro';
const artItems = await getCollection('art');

function slugify(str) {
  return str ? str.toLowerCase().replace(/\s+/g, '-') : '';
}
const selectedMedium = 'All';
const mediums = Array.from(new Set(artItems.map(a => a.data.medium).filter(Boolean)));
mediums.unshift('All');

artItems.sort((a, b) => {
  if (a.data.year !== b.data.year) return b.data.year - a.data.year;
  return b.data.month - a.data.month;
});

// short by 20 most recent
artItems.splice(20);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-full max-w-screen-xl mx-auto my-4 px-4 bg-night-blue text-white transition-colors duration-300" >
    <Header />
    <main class="flex flex-col justify-center">
      <div class="flex flex-col gap-4 md:my-10">
        <h1 class="text-2xl md:text-5xl w-full">The scream of silence on canvas</h1>
        <p class="w-full text-justify text-lg md:text-xl text-light-blue">
          Made for those who seek emotion, not decoration.
        </p>
      </div>

      <div class="mt-10">
        <ArtGallery artItems={artItems} />
      </div>
      </main>
    <Footer />
  </body>
</html>

