---
import HeaderLink from "./HeaderLink.astro";
---

<header class="lg:flex py-4 pt-2 md:pt-10 gap-5 mb-6 lg:mb-10 w-full">
  <div class="flex flex-row w-full justify-between items-end pb-4 lg:pb-0">
    <div class="text-xl font-semibold">Gabriele Nosso</div>
    <ul class="flex flex-row gap-5">
      <li class="flex items-center"><HeaderLink href="/">Art</HeaderLink></li>
      <li class="flex items-center"><HeaderLink href="/me">Me</HeaderLink></li>
      <li class="flex items-center"><HeaderLink href="/colors">Colors</HeaderLink></li>
    </ul>
  </div>
</header>
