---
import { Icon } from 'astro-iconify'

import {
  Astronav,
  MenuItems,
  MenuIcon,
} from "astro-navbar";
---

<header class="lg:flex py-4 pt-2 px-4 sm:px-6 xl:px-0 md:pt-10 gap-5 mb-10 lg:mb-28 w-full">
  <Astronav>
    <div class="flex w-full justify-between items-end border-b lg:border-none pb-4 lg:pb-0">
      Gabriele Nosso
      <div class="lg:hidden flex items-center justify-center gap-4">
        <MenuIcon class="w-4 h-4 text-gray-800 dark:text-neutral-300" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul class="flex flex-col lg:flex-row lg:gap-5 gap-3 mt-3 lg:mt-0  pb-4 lg:pb-0 border-b border-neutral-400 lg:border-b-0">
        <li class="flex items-center"><a href="/">Art</a></li>
        <li class="flex items-center"><a href="/about" class="whitespace-nowrap">About Me</a></li>
      </ul>
    </MenuItems>
  </Astronav>
</header>
